parameters:
	phpVersion:
		min: 80300
		max: 80500

	paths:
		- src

	excludePaths:
		analyseAndScan:
			- tests/*

	# Level 9 is the highest level
	level: 9

	ignoreErrors:
		#- '#no value type specified in iterable type array#'

	reportUnmatchedIgnoredErrors: false
